absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217273648/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel==2.10.3
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bidict==0.21.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
brotlipy @ file:///D:/bld/brotlipy_1648854320485/work
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///D:/bld/cffi_1613414140225/work
chardet==4.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click==8.1.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
configparser==5.0.2
cryptography @ file:///D:/bld/cryptography_1657174149370/work
cycler==0.10.0
Cython==0.29.28
datasets==2.3.2
debugpy @ file:///D:/bld/debugpy_1620178750165/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill==0.3.5.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fastapi==0.78.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1641751198313/work/dist
filelock==3.7.1
Flask==2.1.2
flatbuffers==1.12
frozenlist==1.3.0
fsspec==2022.5.0
fxcmpy==1.2.9
gast==0.4.0
gensim==4.2.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h11==0.13.0
h5py==3.7.0
httptools==0.4.0
huggingface-hub==0.8.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1625464001364/work
ipykernel @ file:///D:/bld/ipykernel_1625232924906/work/dist/ipykernel-6.0.1-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1625028461559/work
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi @ file:///D:/bld/jedi_1610146948662/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.1.0
json5==0.9.8
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125450516/work
jupyter-server==1.18.0
jupyterlab==3.4.3
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server==2.14.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==14.0.1
loguru @ file:///D:/bld/loguru_1649443371013/work
Markdown==3.3.7
MarkupSafe @ file:///D:/bld/markupsafe_1621455847127/work
matplotlib==3.4.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mistune @ file:///D:/bld/mistune_1624941477207/work
multidict==6.0.2
multiprocess==0.70.13
nbclassic==0.4.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1621259862661/work
notebook-shim==0.1.0
numpy @ file:///D:/bld/numpy_1657483969318/work
oauthlib==3.2.0
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==1.3.0
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathlib2 @ file:///D:/bld/pathlib2_1649684243272/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1657007269509/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1623977816122/work
protobuf==3.19.4
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic==1.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==2.4.7
Pypubsub==4.0.3
pyrsistent @ file:///D:/bld/pyrsistent_1610147004705/work
PySocks @ file:///D:/bld/pysocks_1648857453381/work
pythainlp==3.0.8
python-dateutil==2.8.1
python-dotenv==0.20.0
python-engineio==3.9.0
python-multipart==0.0.5
python-socketio==4.4.0
pytz==2021.1
pywin32==300
pywinpty @ file:///D:/bld/pywinpty_1624910543813/work/target/wheels/pywinpty-1.1.3-cp38-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///D:/bld/pyzmq_1622038669039/work
regex==2022.7.9
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
smart-open==6.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.19.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1623365467400/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl==3.1.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tinydb==4.7.0
tokenizers==0.12.1
torch==1.12.0
torchmetrics==0.9.2
tornado @ file:///D:/bld/tornado_1610094858390/work
tqdm==4.64.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
transformers==4.20.1
typing-extensions==4.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1657224465922/work
uvicorn==0.18.2
vtk===-PKG-VERSION
watchfiles==0.15.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.1.0
websockets==10.3
Werkzeug==2.1.2
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771891747/work
win32-setctime @ file:///home/conda/feedstock_root/build_artifacts/win32_setctime_1642883564726/work
wincertstore==0.2
wrapt==1.14.1
wxPython==4.1.1
xxhash==3.0.0
yarl==1.7.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
